In [60]:
import pandas as pd
from utils import average_results, load_result
%matplotlib inline

In [61]:
results = [load_result('./exp_results/', data_name) 
           for data_name in ['credit1', 'credit2', 'pima',
                             'adult', 'bank_marketing', 'satimage']]
                            # gas

In [62]:
results[0].columns

Index(['disc_method', 'dt_acc_depth=3', 'dt_acc_depth=4', 'dt_acc_depth=5',
       'lr_acc_C=0.5', 'lr_acc_C=1.0', 'n_disc_cols', 'rf_acc_n_est=10',
       'rf_acc_n_est=20', 'rf_acc_n_est=30'],
      dtype='object')

In [63]:
results[0] #credit1

,disc_method,dt_acc_depth=3,dt_acc_depth=4,dt_acc_depth=5,lr_acc_C=0.5,lr_acc_C=1.0,n_disc_cols,rf_acc_n_est=10,rf_acc_n_est=20,rf_acc_n_est=30
0,raw,0.834,0.824,0.832,0.850,0.849,6,0.850,0.850,0.849
1,sb_20,0.852,0.817,0.815,0.853,0.855,32,0.858,0.849,0.852
2,sb_30,0.834,0.827,0.829,0.855,0.858,42,0.852,0.859,0.843
3,ew_10,0.821,0.823,0.821,0.850,0.847,60,0.841,0.846,0.844
4,ef_10,0.841,0.858,0.837,0.856,0.852,50,0.853,0.853,0.852

In [64]:
results[1] #credit2

,disc_method,dt_acc_depth=3,dt_acc_depth=4,dt_acc_depth=5,lr_acc_C=0.5,lr_acc_C=1.0,n_disc_cols,rf_acc_n_est=10,rf_acc_n_est=20,rf_acc_n_est=30
0,raw,0.720,0.711,0.705,0.750,0.749,7,0.745,0.755,0.762
1,sb_20,0.706,0.704,0.692,0.752,0.749,24,0.730,0.741,0.747
2,sb_30,0.706,0.702,0.703,0.737,0.741,20,0.732,0.736,0.739
3,ew_10,0.678,0.683,0.673,0.759,0.759,70,0.718,0.745,0.758
4,ef_10,0.690,0.683,0.690,0.757,0.760,38,0.726,0.757,0.753

In [65]:
results[2] #pima

,disc_method,dt_acc_depth=3,dt_acc_depth=4,dt_acc_depth=5,lr_acc_C=0.5,lr_acc_C=1.0,n_disc_cols,rf_acc_n_est=10,rf_acc_n_est=20,rf_acc_n_est=30
0,raw,0.732,0.721,0.741,0.764,0.767,8,0.737,0.758,0.763
1,sb_20,0.737,0.745,0.725,0.759,0.761,47,0.725,0.719,0.733
2,sb_30,0.745,0.729,0.716,0.751,0.755,57,0.714,0.719,0.721
3,ew_10,0.704,0.710,0.729,0.753,0.759,80,0.724,0.728,0.737
4,ef_10,0.732,0.725,0.724,0.742,0.740,72,0.728,0.727,0.734

In [66]:
results[3] #adult

,disc_method,dt_acc_depth=3,dt_acc_depth=4,dt_acc_depth=5,lr_acc_C=0.5,lr_acc_C=1.0,n_disc_cols,rf_acc_n_est=10,rf_acc_n_est=20,rf_acc_n_est=30
0,raw,0.562,0.563,0.567,0.538,0.538,6,0.512,0.518,0.520
1,sb_20,0.560,0.560,0.563,0.571,0.571,19,0.506,0.509,0.510
2,sb_30,0.549,0.561,0.561,0.571,0.571,18,0.504,0.511,0.511
3,ew_10,0.544,0.551,0.553,0.566,0.566,60,0.500,0.506,0.510
4,ef_10,0.549,0.560,0.560,0.572,0.571,36,0.504,0.510,0.515

In [67]:
results[4] #bank marketing

,disc_method,dt_acc_depth=3,dt_acc_depth=4,dt_acc_depth=5,lr_acc_C=0.5,lr_acc_C=1.0,n_disc_cols,rf_acc_n_est=10,rf_acc_n_est=20,rf_acc_n_est=30
0,raw,0.794,0.766,0.764,0.812,0.838,10,0.681,0.671,0.665
1,sb_20,0.721,0.725,0.722,0.772,0.769,37,0.702,0.697,0.696
2,sb_30,0.786,0.775,0.767,0.774,0.773,39,0.721,0.718,0.712
3,ew_10,0.769,0.757,0.750,0.744,0.744,100,0.711,0.713,0.713
4,ef_10,0.776,0.766,0.762,0.762,0.760,64,0.705,0.713,0.710

In [68]:
results[5] #satimage

,disc_method,dt_acc_depth=3,dt_acc_depth=4,dt_acc_depth=5,lr_acc_C=0.5,lr_acc_C=1.0,n_disc_cols,rf_acc_n_est=10,rf_acc_n_est=20,rf_acc_n_est=30
0,raw,0.765,0.780,0.817,0.817,0.819,36,0.883,0.891,0.896
1,sb_20,0.775,0.779,0.801,0.856,0.855,127,0.866,0.873,0.873
2,sb_30,0.765,0.794,0.794,0.852,0.853,133,0.858,0.864,0.865
3,ew_10,0.576,0.631,0.682,0.876,0.875,360,0.864,0.872,0.876
4,ef_10,0.502,0.567,0.624,0.868,0.870,360,0.855,0.864,0.867